node_modules/
.next/
dist/
speech/
public/speech
serverB/
server.zip
clientB/
client.zip
.venv
TalkingAvatarVoices*
VideoRetalkingFinalAvatarImages*
VideoRetalkingSourceVideos*
uploadBlob.py

server/image-generator-431606-07b4d040681c.json
server/.env.development
server/.env.production